@import "../../packages/theme/global.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: "Geist Sans";
    --font-geist-mono: "Geist Mono";
  }

  html {
    font-family: var(--font-geist-sans), system-ui, sans-serif;
  }

  pre,
  code {
    font-family: var(--font-geist-mono), monospace;
  }
}

/* Estilos globales adicionales */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}

/* Transiciones suaves para cambios de tema */
* {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
